@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<p>Welcome to the Dashboard. Login successful.</p>

<a asp-controller="Account"
   asp-action="Logout"
   style="padding:10px 20px;background:red;color:white;text-decoration:none;border-radius:5px;">
    Logout
</a>
